.button{
    width: 150px;
    height: 35px;
    border: 0;
    background-color: greenyellow;
    border-radius: 5px;

}

.text{
    font-style: inherit;
    color: rgb(56, 224, 67);

}

.buttonx{
    color: white;
    border-radius: 50%;
    background-color: green;
    border:0;
    width: 40px;
    height: 40px;
    
}

.aagat{
    width: 150px;
    height: 35px;
    border: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: greenyellow;  
    border-color: greenyellow;  
}

.bigyan{
    width: 150px;
    height: 35px;
    border-width: 4px;
    background-color: white;
    border-radius: 5px;
    color: greenyellow;
    border-color: greenyellow; 
}

.haddi{
    width: 150px;
    height: 35px;
    border: 0;
    background-color: greenyellow;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.mote{
    width: 150px;
    height: 35px;
    border: 1;
    background-color: white;
    border-radius: 5px;
    color: greenyellow;
    opacity: 0.65;
    border-color: yellowgreen;
}

.raja{
    background-color: yellowgreen;
    width: 150px;
    height: 35px;
    border-width: 3px;
    background-color:greenyellow;
    border-radius: 5px;
    color: white;
    border-color: rgb(255, 255, 255); 
    
}

.rani{
    background-color:white;
    color: greenyellow;
    width: 150px;
    height: 35px;
    border-width: 0px;
    border-radius: 5px;


}